<div
		class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
		<div class="col-sm-4">
			<h2>Profile</h2>
			<ol class="breadcrumb">
				<li><a href=""><i class="fa fa-folder-open-o"></i></a></li>

				<li class="active"><strong>Profile</strong></li>
			</ol>
		</div>
		<div class="col-sm-8">
			<div class="title-action">
				<a href="" class="btn"
					ng-class="{'btn-warning': user.role=='COLLABORATEUR', 'btn-orchid': user.role=='ENCADRANT'}"
					ng-click="reload()"><i class="fa fa-refresh"></i></a>
			</div>
		</div>
	</div>
<div class="wrapper wrapper-content" ng-hide="changePasswordF">
		<div class="row">
			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Profile</h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<div class="contact-box">
									<div class="row">
										<div class="col-sm-2">
											<div class="text-center" ng-if="user.role=='ENCADRANT'">
											
												<img alt="image" class="img-circle m-t-xs img-responsive"
													src="img/user-encadrant-1.png">
											</div>
											<div class="text-center" ng-if="user.role=='COLLABORATEUR'">
											
												<img alt="image" class="img-circle m-t-xs img-responsive"
													src="img/user-collaborateur-1.png">
											</div>
										</div>
										<div class="col-sm-5">
											<h3>
												<strong>{{user.firstName}} {{user.lastName}}</strong>
											</h3>
											<p>
												<i class="fa fa-hashtag">&nbsp;</i> {{user.matricule}}
											</p>
											<p>
												<i class="fa fa-calendar">&nbsp;</i> {{user.dateRecrutement | date: 'dd / MM / yyyy'}}
											</p>
											<p>
												<i class="fa fa-envelope-o">&nbsp;</i> {{user.email}}
											</p>
											<p>
												<i class="fa fa-phone">&nbsp;</i> {{user.telephone}}
											</p>
										</div>
										<div class="col-sm-5">
											<h3>
												<strong>&nbsp;</strong>
											</h3>
											<p>
												&nbsp;
											</p>
											<p>
												<i class="fa fa-briefcase">&nbsp;</i>{{user.posteActuel}}
											</p>
											<p>
												<i class="fa fa-user">&nbsp;</i> {{user.username}}
											</p>
											<p>
												<i class="fa fa-user-md">&nbsp;</i> {{user.role}}
											</p>
										</div>
									</div>
								</div>
								<button type="button" ng-click="change()"
								ng-class="{'btn-warning': user.role=='COLLABORATEUR', 'btn-orchid': user.role=='ENCADRANT'}"
									class="btn btn-outline font-bold pull-right">Changer
									mon mot de passe</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="wrapper wrapper-content" ng-show="changePasswordF">
		<div class="row">
			<div class="col-md-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Changez votre mot de passe</h5>
						<a href="" ng-click="retour()" ng-class="{'btn-warning': user.role=='COLLABORATEUR', 'btn-orchid': user.role=='ENCADRANT'}"
							class="btn  btn-xs pull-right"><i
							class="fa fa-arrow-left"></i> Retour</a>
					</div>
					<div class="ibox-content">

						<form class="form-horizontal ng-pristine ng-valid"
							novalidate="novalidate" name="formUser"
							ng-submit="changePassword()">
							<div class="form-group">
								<label class="col-sm-4 control-label">Mot de passe
									actuel </label>

								<div class="col-sm-5">
									<input type="password"
										class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
										ng-model="password" required="required">
								</div>
								<div class="col-md-2" ng-show="isValid">
									<i class="fa fa-2x fa-check text-navy"></i>
								</div>

							</div>
							<div ng-show="isValid">
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-4 control-label"> Nouveau mot de
										passe </label>
									<!-- ng-invalid ng-invalid-required -->
									<div class="col-sm-5">
										<input type="password"
											class="form-control ng-pristine ng-untouched ng-empty "
											ng-model="newPassword" ng-minlength="8" required
											ng-maxlength="15" name="newPassword"> <span
											ng-messages="formUser.newPassword.$error"> <i
											class="fa fa-close text-danger" ng-message="required"> Le
												champ est vide</i> <i class="fa fa-close text-danger"
											ng-message="minlength"> Trop court!</i> <i
											class="fa fa-close text-danger" ng-message="maxlength">
												Trop long!</i>
										</span>
									</div>

								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-4 control-label"> Retaper le mot
										de passe </label>

									<div class="col-sm-5">
										<input type="password"
											class="form-control ng-pristine ng-untouched ng-empty "
											ng-model="newPassword2" ng-minlength="8" required
											ng-maxlength="15" name="newPassword2"
											ng-change="checkIsValid()"> <span
											ng-messages="formUser.newPassword2.$error"> <i
											class="fa fa-close text-danger" ng-message="required"> Le
												champ est vide</i> <i class="fa fa-close text-danger"
											ng-message="minlength"> Trop court!</i> <i
											class="fa fa-close text-danger" ng-message="maxlength">
												Trop long!</i>
										</span>




									</div>
									<div class="col-sm-2" ng-if="errorSaisie==false && tap== true">
										<i class="fa fa-2x fa-check text-navy"></i>
									</div>
									<div class="col-sm-2" ng-if="errorSaisie==true && tap==true">
										<i class="fa fa-2x fa-times text-danger"></i>
									</div>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="row">
								<div class="col-md-6" ng-show="isValid">
									<button type="submit" class="btn  btn-sm pull-right"
										ng-class="{'btn-warning': user.role=='COLLABORATEUR', 'btn-orchid': user.role=='ENCADRANT'}">
										<i class="fa fa-check"></i> Valider
									</button>
								</div>
								<div class="col-md-6" ng-hide="isValid">
									<button class="btn btn-sm pull-right"
										ng-class="{'btn-warning': user.role=='COLLABORATEUR', 'btn-orchid': user.role=='ENCADRANT'}"
										ng-click="checkPassword()">
										<i class="fa fa-check"></i> Valider
									</button>
								</div>
								<div class="col-md-6">
									<a href="" class="btn btn-white btn-sm" ng-click="retour()"><i
										class=" fa fa-close "></i> Annuler </a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>