<div id="wrapper">
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav metismenu">
				<li class="nav-header">
					<div class="dropdown profile-element text-center">
						<span> <img alt="image" class="img-circle"
							src="img/user-manager.png" />
						</span> <a  href=""> <span
							class="clear"> <span class="block m-t-xs"> <strong
									class="font-bold">{{user.firstName}} {{user.lastName}}</strong>
							</span> <span class="text-muted text-xs block">{{user.posteActuel}}</span>
						</span>
						</a>
						
					</div>
					<div class="logo-element">L</div>
				</li>
				<li class="manager" id="dashbord"><a href="" ui-sref="manager.dashbord"><i
						class="fa fa-dashboard"></i> <span class="nav-label">Tableau
							de bord</span></a></li>
				<li class="manager" id="bilan"><a href="" ui-sref="manager.bilan"><i
						class="fa fa-line-chart"></i> Bilans Performance</a></li>
				<li class="manager"><a href=""><i class="fa fa-group"></i> <span
						class="nav-label">Collaborateurs</span></a></li>
				
				<li class="manager"><a href=""><i
						class="fa fa-database"></i> Archives</a></li>
			</ul>
		</div>
	</nav>
	<div ui-view></div>
</div>

<script>
$(document).ready(function() {
        $('.equal').matchHeight();
        $('#summernote').summernote();
        $('#manager').addClass("active-manager");
        $('.pace-progress').css("background", "cornflowerblue");
});

</script>