<div id="wrapper">
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav metismenu">
				<li class="nav-header">
				<a  href="" ui-sref="manager.user">
					<div class="dropdown profile-element text-center">
						<span> <img alt="image" class="img-circle"
							src="img/user-manager.png" />
						</span>  <span
							class="clear"> <span class="block m-t-xs"> <strong
									class="font-bold text-white">{{user.firstName}} {{user.lastName}}</strong>
							</span> <span class="text-muted text-xs block">{{user.posteActuel}}</span>
						</span>
						
						
					</div>
					</a>
					<div class="logo-element">L</div>
				</li>
				<li class="manager" id="dashbord"><a href="" ui-sref="manager.dashbord"><i
						class="fa fa-dashboard"></i> <span class="nav-label">Tableau
							de bord</span></a></li>
				<li class="manager" id="bilan"><a href="" ui-sref="manager.bilan"><i
						class="fa fa-line-chart"></i> Bilans Performance</a></li>
				
				
				<li class="manager" id="archive"><a href="" ui-sref="manager.archive"><i
						class="fa fa-archive"></i> Archives</a></li>
			</ul>
		</div>
	</nav>
	<div ui-view></div>
</div>

<script>

        $('#manager').addClass("active-manager");
        $('.pace-progress').css("background", "cornflowerblue");


</script>