.bg-login {
        background: url("../img/bg-login.jpeg");
}
.valign2 {
        position: relative;
        top: 15%;
        transform: translateY(-50%);
}

.text-white{
        color: #ffffff;
}

/* Manager */

.text-cfb {
        color: cornflowerblue;
}
.btn-cfb {
        background-color: cornflowerblue;
        border-color: cornflowerblue;
        color: #ffffff;
}
.nav > li.active-manager {
        border-left: 4px solid cornflowerblue;
        background: #293846;
}

/* Encadrant */

.text-orchid {
        color: orchid;
}
.btn-orchid {
        background-color: orchid;
        border-color: orchid;
        color: #ffffff;
}
.nav > li.active-encadrant {
        border-left: 4px solid orchid;
        background: #293846;
}

/* Collaborateur */
.nav > li.active-user {
        border-left: 4px solid #f8ac59;
        background: #293846;
}



.contact-box{
	border: none;
}




