<div id="page-wrapper" class="gray-bg">
	<div class="row border-bottom">
		<nav class="navbar navbar-static-top  " role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<a class="navbar-minimalize minimalize-styl-2 btn "
					ng-class="{'btn-primary': user.role=='ADMIN'}" href=""><i
					class="fa fa-search"></i> </a>
				<form role="search" class="navbar-form-custom" action="">
					<div class="form-group">
						<input type="text" placeholder="Rechercher ..."
							class="form-control" ng-model="mc" ng-change="getUsersByMc()">

					</div>

				</form>
			</div>
			<ul class="nav navbar-top-links navbar-right">

				<li><span class="m-r-sm text-muted welcome-message">Bienvenue
						<strong>{{user.firstName}} {{user.lastName}}</strong> - Vous êtes
						connecté en tant que <strong class="text-navy">Administrateur</strong>.
				</span></li>
				<li><a href="" ng-click="logout()"> <i
						class="fa fa-sign-out"></i> Déconnexion
				</a></li>
			</ul>
		</nav>
	</div>
	<div
		class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
		<div class="col-sm-4">
			<h2>BAP</h2>
			<ol class="breadcrumb">
				<li><a href=""><i class="fa fa-folder-open-o"></i></a></li>
				<li><a ui-sref="admin.bilan">Bilans de Performance</a></li>
				<li class="active"><strong>BAP</strong></li>
			</ol>
		</div>
		<div class="col-sm-8">
			<div class="title-action">
				<a href="" class="btn"
					ng-class="{'btn-primary': user.role=='ADMIN'}" ng-click="reload()"><i
					class="fa fa-refresh"></i></a>
			</div>
		</div>
	</div>
	<!-- -->
	<div class="wrapper wrapper-content" ng-hide="detail">
		<div class="ibox">
			<div class="ibox-title">
				<h5>Mes Bilans Annuels de Performance</h5>
			</div>
			<div class="ibox-content">

				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-2">Id</div>
							<div class="col-md-2">
								<strong>Etat</strong>
							</div>
							<div class="col-md-2">
								<strong>Collaborateur</strong>
							</div>
							<div class="col-md-2">
								<strong>Poste actuel</strong>
							</div>
							<div class="col-md-2">
								<strong>Date</strong>
							</div>
							<div class="col-md-2">
								<strong>Action</strong>
							</div>
						</div>
					</li>

					<li class="list-group-item" ng-repeat="b in baps">
						<div class="row">
							<div class="col-md-2">{{b.id}}</div>
							<div class="col-md-2">
								<span class="badge"
									ng-class="{
                                                       	'badge-warning': b.status=='En cours',
                                                         'badge-danger': b.status=='En attente'
                                                                                			}">
									{{b.status}} </span>
							</div>
							<div class="col-md-2">{{b.collaborateur.firstName}}
								{{b.collaborateur.lastName}}</div>
							<div class="col-md-2">{{b.collaborateur.posteActuel}}</div>
							<div class="col-md-2">{{b.dateBilan | date : 'MMMM / yyyy'
								}}</div>
							<div class="col-md-2">
								<span> <a href="" ng-click="seeMore(b)"
									class="btn btn-outline btn-success btn-xs"><i
										class="fa fa-search"></i></a>
								</span> <span ng-if="b.status== 'En cours'"> <a href=""
									class="btn btn-outline btn-primary btn-xs"><i
										class="fa fa-check"></i></a>
								</span>
								<!--                                                                            <a href="#" class="btn btn-outline btn-danger btn-xs"><i class="fa fa-close"></i></a> -->
							</div>
						</div>
					</li>

				</ul>

				<nav class="text-centre">
					<ul class="pagination">
						<li ng-hide="first"><a href=""
							ng-click="getBaps(pageCurrent-1)"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li ng-class="{'active': pageCurrent==$index}"
							ng-repeat="p in pages track by $index"><a href=""
							ng-click="getBaps($index)">{{$index+1}}</a></li>

						<li ng-hide="last"><a href="" aria-label="Next"
							ng-click="getBaps(pageCurrent+1)"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
	<div class="wrapper wrapper-content" ng-show="detail">
		<div class="ibox">
			<div class="ibox-title">
				<h5>Details du Bilan Annuel de Performance</h5>
				<a href="" ng-click="retour()"
							class="btn btn-primary btn-xs pull-right"><i
							class="fa fa-arrow-left"></i> Retour</a>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<div class="contact-box">
							<a href="">
								<div class="col-sm-4">
									<div class="text-center">
										<img alt="image" class="img-circle m-t-xs img-responsive"
											src="img/user-collaborateur-1.png">
										<div class="m-t-xs font-bold">{{bapCurrent.collaborateur.posteActuel}}</div>
									</div>
								</div>
								<div class="col-sm-8">
									<h3>
										<strong>{{bapCurrent.collaborateur.firstName}} {{bapCurrent.collaborateur.lastName}}</strong>
									</h3>
									<p>
										<i class="fa fa-hashtag">&nbsp;</i> {{bapCurrent.collaborateur.matricule}}
									</p>
									<p>
										<i class="fa fa-calendar">&nbsp;</i> {{bapCurrent.collaborateur.dateRecrutement | date: 'dd/MM/yyyy'}}
									</p>
									<p>
										<i class="fa fa-envelope-o">&nbsp;</i> {{bapCurrent.collaborateur.email}}
									</p>
									<p>
										<i class="fa fa-phone">&nbsp;</i> {{bapCurrent.collaborateur.telephone}}
									</p>
								</div>
								<div class="clearfix"></div>
							</a>
						</div>
					</div>
					<div class="col-sm-12 col-md-2 col-md-offset-1">
						<div class="content-box equal">
							<h2 class="text-center">Bilan Annuel de Performance</h2>
							<p class="text-center">
								<strong>{{bapCurrent.dateBilan | date: 'MMMM/yyyy'}}</strong>
							</p>
							<br />
							<p>
								<strong>Statut</strong> <span
									class="label pull-right" ng-class="{
                                                       	'label-warning': bapCurrent.status=='En cours',
                                                         'label-danger': bapCurrent.status=='En attente'
                                                                                			}">{{bapCurrent.status}}</span>
							</p>
							<p>
								<strong>Accès</strong> 
								<span ng-if="bapCurrent.locked==true"><span  class ="label label-danger pull-right">Privé</span></span>
								<span ng-if="bapCurrent.locked==false"><span	class="label label-primary pull-right">Public</span></span>
							</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 col-md-offset-1">
						<div class="contact-box">
							<a href="">
								<div class="col-sm-4">
									<div class="text-center">
										<img alt="image" class="img-circle m-t-xs img-responsive"
											src="/img/user-manager-1.png">
										<div class="m-t-xs font-bold">Manager</div>
									</div>
								</div>
								<div class="col-sm-8">
								
									<h3>
										<strong>{{bapCurrent.manager.firstName}} {{bapCurrent.manager.lastName}}</strong>
									</h3>
										
									<p>
										<i class="fa fa-hashtag">&nbsp;</i> {{bapCurrent.manager.matricule}}
									</p>
									<p>
										<i class="fa fa-calendar">&nbsp;</i> {{bapCurrent.manager.dateRecrutement | date : 'dd/MM/yyyy'}}
									</p>
									<p>
										<i class="fa fa-envelope-o">&nbsp;</i> {{bapCurrent.manager.email}}
									</p>
									<p>
										<i class="fa fa-phone">&nbsp;</i> {{bapCurrent.manager.telephone}}
									</p>
								</div>
								<div class="clearfix"></div>
							</a>
						</div>
					</div>
				</div>
				<br />
				<div class="table-responsive" ng-show="bapCurrent.status=='En cours'">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Catégorie</th>
								<th>Objectif</th>
								<th>Description</th>
								<th>Mesure</th>
								<th>Responsable Mesure</th>
								<th>Poids</th>
								<th>Résultat</th>
								<th>Note finale</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Jul 14, 2013</</td>
								<td>Project <small>This is example of project</small>
								</td>
								<td><span class="pie">0.52/1.561</span></td>
								<td>20%</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
							</tr>
							<tr>
								<td>Jul 14, 2013</</td>
								<td>Project <small>This is example of project</small>
								</td>
								<td><span class="pie">0.52/1.561</span></td>
								<td>20%</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
							</tr>
							<tr>
								<td>Jul 14, 2013</</td>
								<td>Project <small>This is example of project</small>
								</td>
								<td><span class="pie">0.52/1.561</span></td>
								<td>20%</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
							</tr>
							<tr>
								<td>Jul 14, 2013</</td>
								<td>Project <small>This is example of project</small>
								</td>
								<td><span class="pie">0.52/1.561</span></td>
								<td>20%</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td>Jul 14, 2013</td>
								<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
				<div class="row" ng-show="bapCurrent.status=='En cours'">
					<div class="col-md-6">
						<div class="tabs-container">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#tab-3">Objectifs
										Année Prochaine</a></li>
								<li class=""><a data-toggle="tab" href="#tab-4">Remarques
										et Observations</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab-3" class="tab-pane active">
									<div class="panel-body equal">
										<div class="row">
											<div class="col-md-8">Objectif</div>
											<div class="col-md-2">
												<i class="fa fa-check text-info"></i>&nbsp; <span
													class="text-info">Validé</span>
											</div>
											<div class="col-md-2"></div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-8">Objectif</div>
											<div class="col-md-2">
												<i class="fa fa-check text-info"></i>&nbsp; <span
													class="text-info">Validé</span>
											</div>
											<div class="col-md-2"></div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-8">Objectif</div>
											<div class="col-md-2">
												<i class="fa fa-close text-danger"></i>&nbsp; <span
													class="text-danger">Refusé</span>
											</div>
											<div class="col-md-2">
												<a href="#" class="btn btn-xs"><i class="fa fa-edit"></i>
													Modifier</a>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-8">Objectif</div>
											<div class="col-md-2">
												<i class="fa fa-check text-info"></i>&nbsp; <span
													class="text-info">Validé</span>
											</div>
											<div class="col-md-2"></div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-8">Objectif</div>
											<div class="col-md-2">
												<i class="fa fa-close text-danger"></i>&nbsp; <span
													class="text-danger">Refusé</span>
											</div>
											<div class="col-md-2">
												<a href="#" class="btn btn-xs"><i class="fa fa-edit"></i>
													Modifier</a>
											</div>
										</div>
									</div>
									<br />
									<div class="row">
										<center>
											<a href="#" class="btn btn-xs btn-success btn-outline"><i class="fa fa-send"></i>&nbsp;Soumettre Objectifs</a>
										</center>
									</div>
								</div>
								<div id="tab-4" class="tab-pane">
									<div class="panel-body equal">
										<div class="row">
											<div class="col-md-10">
												<p>Remarque test remarque test Remarque test remarque
													test Remarque test remarque test Remarque test remarque
													test</p>
											</div>
											<div class="col-md-2">
												<a href="#" class="btn btn-xs" data-toggle="modal"
													data-target="#myModal5"><i class="fa fa-edit"></i>
													Modifier</a> <br />
												<a href="#" class="btn btn-xs text-danger"><i
													class="fa fa-trash"></i> Supprimer</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="tabs-container">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#tab-1">Fiches
										d'Évaluation</a></li>
								<li class=""><a data-toggle="tab" href="#tab-2">Historique</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab-1" class="tab-pane active">
									<div class="panel-body equal">
										<div class="row">
											<div class="col-md-4">
												<a href="#">Fiche Évaluation 1</a>
											</div>
											<div class="col-md-4">NOM Encadrant</div>
											<div class="col-md-4">NOM Projet</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-4">
												<a href="#">Fiche Évaluation 1</a>
											</div>
											<div class="col-md-4">NOM Encadrant</div>
											<div class="col-md-4">NOM Projet</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-4">
												<a href="#">Fiche Évaluation 1</a>
											</div>
											<div class="col-md-4">NOM Encadrant</div>
											<div class="col-md-4">NOM Projet</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-4">
												<a href="#">Fiche Évaluation 1</a>
											</div>
											<div class="col-md-4">NOM Encadrant</div>
											<div class="col-md-4">NOM Projet</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-4">
												<a href="#">Fiche Évaluation 1</a>
											</div>
											<div class="col-md-4">NOM Encadrant</div>
											<div class="col-md-4">NOM Projet</div>
										</div>
									</div>
								</div>
								<div id="tab-2" class="tab-pane">
									<div class="panel-body equal">
										<div class="row">
											<div class="col-md-12">
												<span class="text-success"><i class="fa fa-clock"></i>12
													/ 05 / 2015 à 13h52</span> - <strong>ENCADRANT</strong> à soumis
												un feedback.
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-12">
												<span class="text-success"><i class="fa fa-clock"></i>12
													/ 05 / 2015 à 13h52</span> - <strong>ENCADRANT</strong> à soumis
												un feedback.
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-12">
												<span class="text-success"><i class="fa fa-clock"></i>12
													/ 05 / 2015 à 13h52</span> - <strong>ENCADRANT</strong> à soumis
												un feedback.
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-12">
												<span class="text-success"><i class="fa fa-clock"></i>12
													/ 05 / 2015 à 13h52</span> - <strong>ENCADRANT</strong> à soumis
												un feedback.
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-12">
												<span class="text-success"><i class="fa fa-clock"></i>12
													/ 05 / 2015 à 13h52</span> - <strong>ENCADRANT</strong> à soumis
												un feedback.
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-12">
												<span class="text-success"><i class="fa fa-clock"></i>12
													/ 05 / 2015 à 13h52</span> - <strong>ENCADRANT</strong> à soumis
												un feedback.
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-12">
												<span class="text-success"><i class="fa fa-clock"></i>12
													/ 05 / 2015 à 13h52</span> - <strong>ENCADRANT</strong> à soumis
												un feedback.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div ng-if="user.role=='ADMIN'">
		<script>
			$('.admin').removeClass("active");
			$('#bilan').addClass("active");
		</script>
	</div>
</div>

