<div id="page-wrapper" class="gray-bg">
	<div class="row border-bottom">
		<nav class="navbar navbar-static-top  " role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<a class="navbar-minimalize minimalize-styl-2 btn "
					ng-class="{'btn-primary': user.role=='ADMIN'}" href=""><i
					class="fa fa-search"></i> </a>
				<form role="search" class="navbar-form-custom" action="">
					<div class="form-group">
						<input type="text" placeholder="Rechercher ..."
							class="form-control" ng-model="mc" ng-change="getUsersByMc()">

					</div>

				</form>
			</div>
			<ul class="nav navbar-top-links navbar-right">

				<li><span class="m-r-sm text-muted welcome-message">Bienvenue
						<strong>{{user.firstName}} {{user.lastName}}</strong> - Vous êtes
						connecté en tant que <strong class="text-navy">Administrateur</strong>.
				</span></li>
				<li><a href="" ng-click="logout()"> <i
						class="fa fa-sign-out"></i> Déconnexion
				</a></li>
			</ul>
		</nav>
	</div>
	<div
		class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
		<div class="col-sm-4">
			<h2>BAP</h2>
			<ol class="breadcrumb">
				<li><a href=""><i class="fa fa-folder-open-o"></i></a></li>
				<li><a ui-sref="admin.bilan">Bilans de Performance</a></li>
				<li class="active"><strong>BAP</strong></li>
			</ol>
		</div>
		<div class="col-sm-8">
			<div class="title-action">
				<a href="" class="btn"
					ng-class="{'btn-primary': user.role=='ADMIN'}" ng-click="reload()"><i
					class="fa fa-refresh"></i></a>
			</div>
		</div>
	</div>
	<!-- -->
	<div class="wrapper wrapper-content" ng-hide="detail">
		<div class="ibox">
			<div class="ibox-title">
				<h5>Mes Bilans Annuels de Performance</h5>
			</div>
			<div class="ibox-content">

				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-2">Id</div>
							<div class="col-md-2">
								<strong>Etat</strong>
							</div>
							<div class="col-md-2">
								<strong>Collaborateur</strong>
							</div>
							<div class="col-md-2">
								<strong>Poste actuel</strong>
							</div>
							<div class="col-md-2">
								<strong>Date</strong>
							</div>
							<div class="col-md-2">
								<strong>Action</strong>
							</div>
						</div>
					</li>

					<li class="list-group-item" ng-repeat="b in baps">
						<div class="row">
							<div class="col-md-2">{{b.id}}</div>
							<div class="col-md-2">
								<span class="badge"
									ng-class="{
                                                       	'badge-warning': b.status=='En cours',
                                                         'badge-danger': b.status=='En attente'
                                                                                			}">
									{{b.status}} </span>
							</div>
							<div class="col-md-2">{{b.collaborateur.firstName}}
								{{b.collaborateur.lastName}}</div>
							<div class="col-md-2">{{b.collaborateur.posteActuel}}</div>
							<div class="col-md-2">{{b.dateBilan | date : 'MMMM / yyyy'
								}}</div>
							<div class="col-md-2">
								<span> <a href="" ng-click="seeMore(b)"
									class="btn btn-outline btn-success btn-xs"><i
										class="fa fa-search"></i></a>
								</span> <span ng-if="b.status== 'En cours'"> <a href=""
									class="btn btn-outline btn-primary btn-xs"><i
										class="fa fa-check"></i></a>
								</span>
								<!--                                                                            <a href="#" class="btn btn-outline btn-danger btn-xs"><i class="fa fa-close"></i></a> -->
							</div>
						</div>
					</li>

				</ul>

				<nav class="text-centre">
					<ul class="pagination">
						<li ng-hide="first"><a href=""
							ng-click="getBaps(pageCurrent-1)"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li ng-class="{'active': pageCurrent==$index}"
							ng-repeat="p in pages track by $index"><a href=""
							ng-click="getBaps($index)">{{$index+1}}</a></li>

						<li ng-hide="last"><a href="" aria-label="Next"
							ng-click="getBaps(pageCurrent+1)"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
	<div class="wrapper wrapper-content" ng-show="detail">
		<div class="ibox">
			<div class="ibox-title">
				<h5>Details du Bilan Annuel de Performance</h5>
				<a href="" ng-click="retour()"
					class="btn btn-primary btn-xs pull-right"><i
					class="fa fa-arrow-left"></i> Retour</a>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<div class="contact-box">
							<a href="">
								<div class="col-sm-4">
									<div class="text-center">
										<img alt="image" class="img-circle m-t-xs img-responsive"
											src="img/user-collaborateur-1.png">
										<div class="m-t-xs font-bold">{{bapCurrent.collaborateur.posteActuel}}</div>
									</div>
								</div>
								<div class="col-sm-8">
									<h3>
										<strong>{{bapCurrent.collaborateur.firstName}}
											{{bapCurrent.collaborateur.lastName}}</strong>
									</h3>
									<p>
										<i class="fa fa-hashtag">&nbsp;</i>
										{{bapCurrent.collaborateur.matricule}}
									</p>
									<p>
										<i class="fa fa-calendar">&nbsp;</i>
										{{bapCurrent.collaborateur.dateRecrutement | date:
										'dd/MM/yyyy'}}
									</p>
									<p>
										<i class="fa fa-envelope-o">&nbsp;</i>
										{{bapCurrent.collaborateur.email}}
									</p>
									<p>
										<i class="fa fa-phone">&nbsp;</i>
										{{bapCurrent.collaborateur.telephone}}
									</p>
								</div>
								<div class="clearfix"></div>
							</a>
						</div>
					</div>
					<div class="col-sm-12 col-md-2 ">
						<div class="content-box equal">
							<h2 class="text-center">Bilan Annuel de Performance</h2>
							<p class="text-center">
								<strong>{{bapCurrent.dateBilan | date: 'MMMM/yyyy'}}</strong>
							</p>
							<br />
							<p>
								<strong>Statut</strong> <span class="label pull-right"
									ng-class="{
                                                       	'label-warning': bapCurrent.status=='En cours',
                                                         'label-danger': bapCurrent.status=='En attente'
                                                                                			}">{{bapCurrent.status}}</span>
							</p>
							<p>
								<strong>Accès</strong> <span ng-if="bapCurrent.locked==true"><span
									class="label label-danger pull-right">Privé</span></span> <span
									ng-if="bapCurrent.locked==false"><span
									class="label label-primary pull-right">Public</span></span>
							</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-5">
						<div class="contact-box">
							<a href="">
								<div class="col-sm-4">
									<div class="text-center">
										<img alt="image" class="img-circle m-t-xs img-responsive"
											src="/img/user-manager-1.png">
										<div class="m-t-xs font-bold">Manager</div>
									</div>
								</div>
								<div class="col-sm-8">

									<h3>
										<strong>{{bapCurrent.manager.firstName}}
											{{bapCurrent.manager.lastName}}</strong>
									</h3>

									<p>
										<i class="fa fa-hashtag">&nbsp;</i>
										{{bapCurrent.manager.matricule}}
									</p>
									<p>
										<i class="fa fa-calendar">&nbsp;</i>
										{{bapCurrent.manager.dateRecrutement | date : 'dd/MM/yyyy'}}
									</p>
									<p>
										<i class="fa fa-envelope-o">&nbsp;</i>
										{{bapCurrent.manager.email}}
									</p>
									<p>
										<i class="fa fa-phone">&nbsp;</i>
										{{bapCurrent.manager.telephone}}
									</p>
								</div>
								<div class="clearfix"></div>
							</a>
						</div>
					</div>
				</div>
				<br />
				<div class="ibox-content" ng-show="bapCurrent.status=='En cours'">

					<ul class="list-group">
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-1">
									<strong>Catégorie</strong>
								</div>
								<div class="col-md-3">
									<strong>Objectif</strong>
								</div>
								<div class="col-md-3">
									<strong>Description</strong>
								</div>
								<div class="col-md-1">
									<strong>Mesure </strong>
								</div>
								<div class="col-md-1">
									<strong>Responsable Mesure</strong>
								</div>
								<div class="col-md-1">
									<strong>Poids</strong>
								</div>
								<div class="col-md-2">
									<strong>Résultat</strong>
								</div>


							</div>
						</li>

						<div ng-repeat="o in bapCurrent.objectifsEntrantes">
							<li class="list-group-item" ng-repeat="d in o.descriptions">

								<div class="row">
									<div class="col-md-1">{{o.categorie}}</div>
									<div class="col-md-3">{{o.objectif}}</div>
									<div class="col-md-3">{{d.description}}</div>
									<div class="col-md-1">{{d.mesure}}</div>
									<div class="col-md-1">{{d.responsable.posteActuel}}</div>
									<div class="col-md-1">{{d.poids}}%</div>
									<div class="col-md-2">
										<div class="row">
											<div ng-hide="editResultatF">
												<div class="col-md-2">{{d.note}}%</div>
												<div class="col-md-1">
													<button class="btn btn-xs btn-primary"
														ng-click="editResultat()">
														<i class="fa fa-edit"></i>
													</button>
												</div>
											</div>
											<div ng-show="editResultatF">
												<input type="number" value="0" class="col-md-6"
													ng-model="d.note" ng-change="calculNoteGlobale()" />

												<div class="col-md-1">
													<button class="btn btn-xs btn-primary"
														ng-click="updateBap()">
														<i class="fa fa-edit"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</div>
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-1 col-md-offset-9">100 %</div>
								<div class="col-md-2">{{bapCurrent.noteGlobale}} %</div>
							</div>
						</li>
					</ul>

				</div>
				<br />
				<div class="tab-pane" ng-show="bapCurrent.status=='En cours'">
					<div class="panel-body equal">
						<div class="row">
							<h3>Remarques et Observations</h3>
						</div>
						<div class="row">
							<div class="col-md-8 tabs-container panel-body"
								ng-hide="editRemarqueF">
								<p>{{bapCurrent.decision}}</p>
							</div>
							<div class="col-md-8 form-group" ng-show="editRemarqueF">
								<textarea class="col-md-12 form-control"
									ng-model="bapCurrent.decision"></textarea>
							</div>
							<div class="col-md-3 col-md-offset-1">
								<a href="" class="btn btn-xs btn-primary"
									ng-click="editRemarque()" ng-hide="editRemarqueF"><i
									class="fa fa-edit"></i> Modifier</a> <a href=""
									class="btn btn-xs btn-primary" ng-click="updateBap()"
									ng-show="editRemarqueF"><i class="fa fa-edit"></i> Valider</a>
								<a href="" class="btn btn-xs btn-outline btn-danger"
									ng-click="clearDecision()"><i class="fa fa-trash"></i>
									Supprimer</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="bapCurrent.status=='En cours'">
					<div class="col-md-11">
						<div class="tabs-container">
							<ul class="nav nav-tabs">
								<li ng-class="{'active': tab==0}" ng-click="tab=0"><a>Objectifs
										Année Prochaine</a></li>
								<li ng-class="{'active': tab==1}" ng-click="tab=1"><a>Ajouter
										Objectif</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane" ng-class="{'active': tab==0}">
									<div class="panel-body equal">

										<div
											ng-repeat=" o in bapCurrent.objectifsSortantes track by $index">
											<div class="row">
												<div ng-hide="editObjectifsSF[$index]">
													<div class="col-md-8">
														<div class="row">
															<div class="col-md-3">{{o.categorie}}</div>
															<div class="col-md-3">{{o.objectif}}</div>
															<div class="col-md-3">{{o.objectif}}</div>
														</div>
													</div>
													<div class="col-md-1" ng-show="o.valide">
														<i class="fa fa-check text-info"></i>&nbsp; <span
															class="text-info">Validé</span>
													</div>
													<div ng-hide="o.valide">
														<div class="col-md-2">
															<i class="fa fa-close text-danger"></i>&nbsp; <span
																class="text-danger">Refusé</span>
														</div>
														<div class="col-md-1">
															<a href="" class="btn btn-xs btn-success "
																ng-click="editObjectifsS($index)"><i
																class="fa fa-edit"></i> Modifier</a>
														</div>
													</div>
												</div>
												<div ng-show="editObjectifsSF[$index]">
													<div class="row">
														<div class="col-md-2" class="form-group">
															<input type="text" placeholder="Catégorie"
																ng-model="o.categorie" class="form-control col-md-2">
														</div>
														<div class="col-md-2" class="form-group">
															<input type="text" placeholder="Objectif"
																ng-model="o.objectif" class="form-control">
														</div>
														<div class="col-md-2" class="form-group">
															<select class="form-control">
																<option>1</option>
																<option>2</option>
																<option>3</option>
															</select>
														</div>
														<div class="col-md-2" class="form-group">
															<input type="text" class="form-control"
																placeholder="description">
														</div>
														<div class="col-md-2" class="form-group">
															<input type="number" class="form-control">
														</div>
														<div class="col-md-1 ">
															<input type="submit" class="btn btn-xs btn-primary"
																ng-click="updateBap()" value="Envoyer">
														</div>
													</div>
												</div>
											</div>
											<br />
										</div>
										<div class="row">
											<div class="col-md-3 col-md-offset-2">Somme des Poids =
												100%</div>
										</div>
									</div>
									<br />

									<div class="row">
										<center>
											<a href="" class="btn btn-xs btn-success btn-outline"><i
												class="fa fa-send"></i>&nbsp;Soumettre Objectifs</a>
										</center>
									</div>
								</div>
								<div class="tab-pane" ng-class="{'active': tab==1}">
									<div class="panel-body equal">
										<form class="form-horizontal">
											<div class="form-group">
												<label for="categorie" class="col-sm-2 control-label">Catégorie</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="categorie"
														placeholder="catégorie" ng-model="objectif.categorie">
												</div>
											</div>
											<div class="form-group">
												<label for="objectif" class="col-sm-2 control-label">Objectif</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														id="objectif" placeholder="objectif" ng-model="objectif.objectif">
												</div>
											</div>
											<div ng-repeat="d in descriptions">
											<div class="row">
												<div class="col-sm-2">Description :</div>
												<div class="col-sm-8">
													{{d.description}}
												</div>
												<div class="col-sm-2">
													<button class="btn btn-xs btn-danger" ng-click="editerDescription($index)"> Supprimer</button>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-2 ">Mesure :</div>
												<div class="col-sm-8">
													{{d.mesure}}
												</div>
												<div class="col-sm-2">
													
												</div>
											</div>
											<div class="row">
												<div class="col-sm-2">Poids :</div>
												<div class="col-sm-8">
													{{d.poids}} %
												</div>
												<div class="col-sm-2">
													
												</div>
											</div>
											<div class="row">
												<div class="col-sm-2">Responsable :</div>
												<div class="col-sm-8">
													{{d.responsable.matricule}}
												</div>
												<div class="col-sm-2">
													
												</div>
											</div>
											<br>
											</div>
											
											</br>
											<div class="form-group">
												<label for="description" class="col-sm-2 control-label">Description :</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														id="description" placeholder="description" ng-model="description.description">
												</div>
											</div>
											<div class="form-group">
												<label for="mesure" class="col-sm-2 control-label">Mesure :</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														id="mesure" placeholder="mesure" ng-model="description.mesure">
												</div>
											</div>
											
											
											<div class="form-group">
												<label for="responsable" class="col-sm-2 control-label">Responsable :</label>
												<div class="col-sm-10">
													<select ng-model="description.responsable.matricule" class="form-control">
														<option ng-repeat="e in encadrants">{{e.matricule}}</option>
													</select>
												</div>
											</div>
											
											<div class="form-group">
												<div class="col-sm-offset-7 col-sm-2">
													<button type="submit" class="btn btn-outline text-navy" ng-click="ajouterUneAutre()">Ajouter une autre description
														</button>
												</div>
												<div class= "col-sm-1 col-sm-offset-1">
													<button type="submit" class="btn btn-primary" ng-click="addObjectif()">Valider
														</button>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-3 col-md-offset-2">Somme des Poids est <strong ng-class="{'text-danger': somme>100}">{{somme}}</strong> </div>
											</div>
											</form>
									</div>
									
									<br/>

									<div class="row">
										<center>
											<a href="" class="btn btn-xs btn-success btn-outline"><i
												class="fa fa-send"></i>&nbsp;Soumettre Objectifs</a>
										</center>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-11">
						<div class="tabs-container">
							<ul class="nav nav-tabs">
								<li class="active"><a href="">Historique</a></li>
							</ul>
							<div class="tab-content">
								<div id="" class="tab-pane active">
									<div class="panel-body equal">
										<div ng-repeat="f in bapCurrent.feedbacks">
											<div class="row">
												<div class="col-md-10">
													<span class="text-success"><i
														class="fa fa-search click text-navy"></i> <i
														class="fa fa-clock"></i> {{f.dateFeedback |
														date:'yyyy/MM/dd HH:mm'}}</span> - <strong>{{f.encadrant.matricule}}
														{{f.encadrant.lastName}} </strong>a soumis un feedback.
												</div>

											</div>
											<br />
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div ng-if="user.role=='ADMIN'">
		<script>
			$('.admin').removeClass("active");
			$('#bilan').addClass("active");
		</script>
	</div>
</div>

