<div id="page-wrapper" class="gray-bg">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top  " role="navigation"
				style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
						href=""><i class="fa fa-search"></i> </a>
					<form role="search" class="navbar-form-custom"
						action="">
						<div class="form-group">
							<input type="text" placeholder="Rechercher ..."
								class="form-control">

						</div>

					</form>
				</div>
				<ul class="nav navbar-top-links navbar-right">

					<li><span class="m-r-sm text-muted welcome-message">Bienvenue
							<strong>{{user.firstName}} {{user.lastName}}</strong> - Vous êtes
							connecté en tant que <strong class="text-navy">Administrateur</strong>.
					</span></li>
					<li><a href="" ng-click="logout()"> <i
							class="fa fa-sign-out"></i> Déconnexion
					</a></li>
				</ul>
			</nav>
		</div>
<div class="row wrapper border-bottom white-bg page-heading animated fadeInLeft">
	<div class="col-sm-4">
		<h2>Tableau de bord</h2>
		<ol class="breadcrumb">
			<li><a href=""><i class="fa fa-folder-open-o"></i></a></li>
			<li class="active"><strong>Tableau de bord</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="" class="btn btn-primary" ng-click="reload()"><i class="fa fa-refresh"></i></a>
		</div>
	</div>
</div>
<!-- -->
<div class="wrapper wrapper-content">
	<div class="row  animated fadeInLeft">
			<div class="col-md-3">
				<div class="widget style1 white-bg equal">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-line-chart text-navy fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Nombre de <strong class="text-navy">BAP</strong> en
								cours
							</span>
							<h2 class="font-bold text-navy">{{encours}}</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="widget style1 white-bg equal">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-line-chart text-success fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Nombre de <strong class="text-success">BAP</strong>
								en attente
							</span>
							<h2 class="font-bold text-success">{{enattente}}</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 ">
				<div class="widget style1 white-bg equal">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-line-chart text-danger fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Nombre de <strong class="text-danger">BAP</strong>
								refusés
							</span>
							<h2 class="font-bold text-danger">{{rejete}}</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="widget style1 white-bg equal">
					<div class="row">
						<div class="col-xs-4">
							<i class="fa fa-calendar text-warning fa-5x"></i>
						</div>
						<div class="col-xs-8 text-right">
							<span> Date du Jour </span>
							<h2 class="font-bold text-warning">{{date}}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
</div>
<script>
	$('.admin').removeClass("active");
	$('#dashbord').addClass("active");
</script>
</div>

