<div id="wrapper" >
	<nav class="navbar-default navbar-static-side" >
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element text-center click" ui-sref="admin.user">
						<span> <img alt="image" class="img-circle"
							src="img/user-admin.png" />
						</span> <span class="clear"> <span class="block m-t-xs"> <strong
								class="font-bold text-white">{{user.firstName}}
									{{user.lastName}}</strong>
						</span> <span class="text-muted text-xs block">{{user.posteActuel}}

						</span>
						</span>


					</div>
					<div class="logo-element">L</div>
				</li>
				<li id="dashbord" class="admin" ><a href="" ui-sref="admin.dashbord"><i class="fa fa-dashboard"></i>
						<span class="nav-label">Tableau de bord</span></a></li>
				<li id="bilan" class="admin"><a href="" ui-sref="admin.bilan"><i
						class="fa fa-line-chart"></i> Bilans Performance</a></li>
				
				<li class="admin"><a href=""><i class="fa fa-files-o"></i> <span
						class="nav-label">Feedbacks</span></a></li>
				<li class="admin"><a href=""><i class="fa fa-archive"></i>
						Archives</a></li>
				<li class="admin" id="projet"><a href="" ui-sref="admin.projet"><i class="fa fa-briefcase"></i>
						Projets</a></li>
				<li id="parametre" class="admin"><a href="" ui-sref="admin.parametre"><i class="fa fa-cog"></i>
						Paramètres</a></li>
						</ul>
		</div>
	</nav>
	<div ui-view></div>
</div>