<div 
	class="row wrapper border-bottom white-bg page-heading animated fadeInLeft">
	<div class="col-sm-4">
		<h2>Paramètres</h2>
		<ol class="breadcrumb">
			<li><a href=""><i class="fa fa-folder-open-o"></i></a></li>
			<li class="active"><strong>Paramètres</strong></li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			<a href="" class="btn btn-primary" ng-click="reload()"><i class="fa fa-refresh"></i></a>
		</div>
	</div>
</div>
<!-- -->
<div class="wrapper wrapper-content ">
	<div class="row animated fadeInLeft">
		<div class="col-md-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>La liste des utilisateurs</h5>
				</div>
				<div class="ibox-content" >
					<div ui-view></div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th># Matricule</th>
								<th>username</th>
								<th>Nom Prénom</th>
								<th>Role</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users" ng-click="goToUser(user.matricule)" class="click" >
								<td>{{user.matricule}}</td>
								<td>{{user.username}}</td>
								<td>{{user.firstName}} {{user.lastName}}</td>
								<td>{{user.role}}</td>
								<td >
									<a href="" ng-click="goToUser(user.matricule)"> <i class="fa fa-search-plus text-success"></i></a> &nbsp;
									<a href="" ng-click="deleteUser(user.matricule)" ng-hide="$root.user.matricule==user.matricule"> <i class="fa fa-trash text-danger"></i></a>
									&nbsp;
									<a href="" ng-click=""> <i class="fa fa-edit text-navy"></i></a>
								</td>
							</tr>

						</tbody>
					</table>
					<nav>
						<ul class="pagination">
							<li ng-hide="first"><a href=""
								ng-click="getUsers(pageCurrent-1)"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<li ng-class="{'active': pageCurrent==$index}"
								ng-repeat="p in pages track by $index"><a href=""
								ng-click="getUsers($index)">{{$index+1}}</a></li>

							<li ng-hide="last"><a href="" aria-label="Next"
								ng-click="getUsers(pageCurrent+1)"> <span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div class="footer fixed"> -->
<!-- 		<div> -->
<!-- 			<strong>Copyright</strong> LAMBDA &copy; 2015 -->
<!-- 		</div> -->
<!-- 	</div> -->
</div>
<script>
	$('.admin').removeClass("active");
	$('#parametre').addClass("active");
</script>