<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Alerts e.g. approaching your limit</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" width="600">
				<div class="content">
					<table class="main" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="alert alert-gray">
							<img src="lambda-logo-2.png"></img>
							</td>
						</tr>
						<tr>
							<td class="content-wrap">
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<td class="content-block">
											Mr. <strong>NOM PRÉNOM</strong>
										</td>
									</tr>
									<tr>
										<td class="content-block">
											Vous trouverez ci-dessous le nom d'utilisateur et le mot de passe pour accéder à notre application de gestion des bilans de Performance de notre entreprise LAMBDA.
										</td>
									</tr>
									<tr>
										<td>Nom d'utilisateur: <strong>username</strong></td>
									</tr>
									<tr>
										<td>Mot de Passe: <strong>password</strong></td>
									</tr>
									<tr>
									<td>
									&nbsp;
									</td>
									</tr>
									<tr>
										<td class="content-block">
											Veuillez ne communiquer vos identifiants à personne. Veuillez contacter l'administrateur de notre application en cas de problème à travers l'adresse mail suivante: admin@lambda.com
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div class="footer">
						<table width="100%">
							<tr>
								<td class="aligncenter content-block"><a href="#">Unsubscribe</a>
									from these alerts.</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>

</body>
</html>
