<div id="wrapper">
	<nav class="navbar-default navbar-static-side">
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element text-center">
						<span> <img alt="image" class="img-circle"
							src="img/user-encadrant.png" />
						</span> <span class="clear"> <span class="block m-t-xs"> <strong
								class="font-bold text-white">{{user.firstName}}
									{{user.lastName}}</strong>
						</span> <span class="text-muted text-xs block">{{user.posteActuel}}

						</span>
						</span>


					</div>
					<div class="logo-element">L</div>
				</li>
				<li class="encadrant" id="dashbord"><a href=""><i
						class="fa fa-dashboard"></i> <span class="nav-label">Tableau
							de bord</span></a></li>
				<li class="encadrant"><a href=""><i class="fa fa-group"></i>
						<span class="nav-label">Collaborateurs</span></a></li>
				<li class="encadrant"><a href=""><i class="fa fa-files-o"></i>
						<span class="nav-label">Feedbacks</span></a></li>
				<li class="encadrant"><a href=""><i class="fa fa-database"></i>
						Archives</a></li>
			</ul>
		</div>
	</nav>
	<div id="page-wrapper" class="gray-bg">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top"
				style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-orchid"
						href=""><i class="fa fa-search"></i> </a>
					<form class="navbar-form-custom">
						<div class="form-group">
							<input type="text" placeholder="Rechercher ..." class="form-control">

						</div>

					</form>
				</div>
				<ul class="nav navbar-top-links navbar-right">

					<li><span class="m-r-sm text-muted welcome-message">Bienvenue
							<strong>{{user.firstName}} {{user.lastName}}</strong> - Vous êtes
							connecté en tant que <strong class="text-orchid">Encadrant</strong>.
					</span></li>
					<li><a href="" ng-click="logout()"> <i
							class="fa fa-sign-out"></i> Déconnexion
					</a></li>
				</ul>
			</nav>
		</div>

		<div ui-view></div>
	</div>
</div>

<script>
                $(document).ready(function() {
                        $('.equal').matchHeight();
                        $('#summernote').summernote();
                        $('#encadrant').addClass("active-encadrant");
                        $('.pace-progress').css("background", "orchid");
                });
        </script>